@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
*{
    box-sizing: border-box !important;
}
body{
    background-color:#E8E8E8;
}
.l_tbdr{
    border:1px dashed red;
}
.ll_tbdr{
    border:1px dashed blue;
}
/* .l_cont{
    min-height: 5656px;
}  */
header{
    min-height:81px;
}

/* main_css_start */
main{
    /* min-height:3354px; */
    background-color: #fff !important;
    padding-bottom:100px;
}
.dflex{
    display:flex;
    justify-content:center;
    align-items:center;
}
.m11{
    height:275px;
}

/* col-3 */
.c3{
    /* height:64px; */
    padding:0px 10px 13px 10px !important;
    margin-bottom:2px !important;
}
.aa{
    /* width:75px !important; */
    display: block !important;
    width:68px !important;
    height:53px !important;
    /* margin: auto !important; */
    /* overflow: auto !important; */
    
}
.lwh{
    width:48px !important;
    height:36px !important;
}

 /* span-letter-start */
.wk{
    /* display: block  !important; */
    /* width:100% !important; */
    margin-bottom: 7px !important;
    /* color: #414e5a !important; */
    color: black !important;
    height:13px !important;
    width:68px !important;
    font-size: 10px !important;
    font-family: 'Roboto', sans-serif !important;
}
  
/* main_css_end */
 ul>li>a:hover{
    background-color: #ededed;
    cursor: pointer;
    border-radius: 3px;
}
.l_menu>li:hover ul{
    display:block;
    
}
.l_submenu{
    width:100px;
    top:60px;
    /* height:100px; */
    /* background-color: red; */
    display:none;
}


.fp-1{
   padding:0px 45px 30px 45px;
}
.fp-1>.fpc{
    margin-top:10px;
}
.l_footer1{
    height:295px;
}
.fp-2{
    padding:40px 45px 40px 45px;
    height:30px;
}
.fp-3{
   height:1688px;
}
.l_footer3{
    height:30px;
    padding:40px 45px;
}
.fp-4{
    margin:40px 45px 0px 45px;
}
.l_footer4a{
    height:22px;
}
.l_footer4b{
    margin-top:10px;
    height:44px;
}
.fp-5{
    margin-top:30px;
    padding:25px 45px;
}
.l_footer5{
    height:242px;
}
.fp-6{
    padding:40px 45px;
}
.l_footer6{
    height:18px;
    
}
.l_tnr{
    font-family: 'Times New Roman', Times, serif;
}
.l_mi1{
    height:21px !important;
    color: #363d43;
    font-family: 'Roboto', sans-serif;
    

}
.l_mi2{
    width:52px;
    height:52px;
}
.m3{
    width:88px !important;
    height:88px !important;
}


::-webkit-input-placeholder {
    font-size: 25px;
    font-weight: bold;
    color:#333 !important;
    opacity:0.5 ! important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 25px;
       font-weight: bold;
       color:#333 !important;
       opacity:0.5 ! important;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 25px;
       font-weight: bold;
       color:#333 !important;
       opacity:0.5 ! important;
 }
 
 /* Overriding styles */
 
 ::-webkit-input-placeholder {
    font-size:15px!important;
    font-weight: bold;
    color:#333 !important;
    opacity:0.5 ! important;
 }
 :-moz-placeholder { /* Firefox 18- */
       font-size:15px!important;
       font-weight: bold;
       color:#333 !important;
       opacity:0.5 ! important;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size:15px!important;
       font-weight: bold;
       color:#333 !important;
       opacity:0.5 ! important;
 }

/* span-word-start */
 @media screen and(min-width:375px) {
    .font10{
        font-size: calc(10px + .15vw) !important;
    } 
}

/* span-word-end */
@media screen and (max-width: 576px){
    .a_form_col{
        height:50px;
    }
    footer{
        position:fixed;
        bottom:-2px;
        left:0px;
        width:100%;
    }
    .l_tbdr{
        border:none;
    }
}
@media (min-width:1400px){
    .container, .container-lg, .container-md, .container-sm{
        max-width:1450px;
    }
}